@mixin textProps {
    color: #252525;
    text-decoration: none;
    font-family: 'Roboto-Regular';

    font-size: 12px;
    line-height: 14px;
}

@mixin cartLinkTextProps {
    font-family: 'Roboto-Medium';
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.01em;
    text-decoration-line: underline;
    color: #252525;
}