@import 'fonts';
@import 'mixins';

.container {
  width: 1170px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-wrap: wrap;

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }



  &__left-side {
    margin-top: 19px;
    width: 210px;
  }

  &__logo {
    width: 210px;
    height: 111px;
    background-color: #FFCC00;
    display: flex;
    justify-content: center;
    align-items: center;

    &-inner {
      width: 95px;
      height: 95px;
    }
  }

  &__title {

    & h1 {
      font-weight: 700;
      font-size: 13px;
      line-height: 15px;
      color: #000000;
      font-family: 'HeliosCond-Bold';
      text-align: center;
    }
  }

  &__right-side {}

  &__content {

    .content__upper {
      width: 930px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 16px;

      border-bottom: 1px solid #D7D7D7;

      &-nav {
        width: 624px;

        .nav {
          @include textProps();
          list-style: none;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
          padding: 0;
          margin: 0 0 8px;

          &__item {

            &-link {
              @include textProps()
            }
          }
        }
      }

      &-login {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        width: 126px;
        height: 14px;

        & a {
          @include textProps()
        }

        & div {
          @include textProps()
        }
      }
    }

    .content__bottom {
      width: 930px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 21px;

      .banner {
        width: 253px;
        height: 70px;
        background: #E2E2E2;
      }

      .cart {
        display: flex;
        flex-direction: row;

        &__left {
          width: 120px;
          height: 70px;
          display: flex;
          flex-direction: column;

          &-cart {
            display: flex;
            flex-direction: row;
            align-items: center;

            & a {
              @include cartLinkTextProps();
              margin-left: 11px;
            }
          }

          &-favorite {
            margin-top: 10px;
            margin-left: 5px;
            display: flex;
            flex-direction: row;
            align-items: center;

            & a {
              @include cartLinkTextProps();
              margin-left: 11px;
            }
          }

          &-compare {
            margin-top: 10px;
            margin-left: 2px;
            display: flex;
            flex-direction: row;
            align-items: center;

            & a {
              @include cartLinkTextProps();
              margin-left: 9px;
            }
          }
        }

        &__right {
          width: 240px;
          height: 70px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin-left: 35px;

          &-item {
            width: 70px;
            height: 70px;

          }
        }
      }

      .contacts {
        width: 184px;
        height: 91px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &__time {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          &-item1 {
            @include textProps();
            font-weight: 700;
            letter-spacing: -0.01em;
          }

          &-item2 {
            @include textProps();
            letter-spacing: -0.025em;
          }
        }

        &__phone {
          padding: 0 0 14px;
          border-bottom: 1px solid #D7D7D7;

          & a {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 25px;
            line-height: 29px;
            letter-spacing: -0.028em;
            color: #252525;
            text-decoration: none;
          }

        }

        &__location {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin-top: 4px;

          &-current {
            @include textProps();
            letter-spacing: -0.01em;
          }

          &-change {
            display: flex;
            flex-direction: row;
            align-items: center;

            & a {
              @include textProps();
              text-decoration: dotted;
              margin-left: 4px;
            }
          }
        }
      }
    }
  }

  .search {

    &__container {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__box {
      width: 100%;
      min-height: 34px;
      background: #252525;
      border-radius: 10px;

      &-icon {

        & button {
          height: 100%;
          width: 39px;
          height: 34px;
          border-top-left-radius: 9px;
          border-bottom-left-radius: 9px;
          background: #FFCC00;
          border: 1px solid #FFCC00;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      &-items{
        display: flex;
        flex-direction: row;
      }

      &-item {
        
        & a {
          @include cartLinkTextProps();
          font-weight: 600;
          text-decoration: none;
          color: #ffffff;
        }
      }
    }
  }
}