@import 'fonts';
@import 'mixins';

.container {
  width: 1170px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-wrap: wrap;

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }



  &__left-side {
    margin-top: 19px;
    width: 210px;
  }

  &__logo {
    width: 210px;
    height: 111px;
    background-color: #FFCC00;
    display: flex;
    justify-content: center;
    align-items: center;

    &-inner {
      width: 95px;
      height: 95px;
    }
  }

  &__title {

    & h1 {
      font-weight: 700;
      font-size: 13px;
      line-height: 15px;
      color: #000000;
      font-family: 'HeliosCond-Bold';
      text-align: center;
    }
  }

  &__right-side {}

  &__content {

    .content__upper {
      width: 930px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 16px;

      border-bottom: 1px solid #D7D7D7;

      &-nav {
        width: 624px;

        .nav {
          @include textProps();
          list-style: none;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
          padding: 0;
          margin: 0 0 8px;

          &__item {

            &-link {
              @include textProps()
            }
          }
        }
      }

      &-login {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        width: 126px;
        height: 14px;

        & a {
          @include textProps()
        }

        & div {
          @include textProps()
        }
      }
    }

    .content__bottom {
      max-width: 930px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 21px;

      .banner {
        width: 253px;
        height: 70px;
        background: #E2E2E2;
      }

      .cart {
        display: flex;
        flex-direction: row;

        &__left {
          width: 135px;
          height: 70px;
          display: flex;
          flex-direction: column;

          &-cart {
            display: flex;
            flex-direction: row;
            align-items: center;

            & a {
              @include cartLinkTextProps();
              margin-left: 11px;
            }
          }

          &-favorite {
            margin-top: 10px;
            margin-left: 5px;
            display: flex;
            flex-direction: row;
            align-items: center;

            & a {
              @include cartLinkTextProps();
              margin-left: 11px;
            }
          }

          &-compare {
            margin-top: 10px;
            margin-left: 2px;
            display: flex;
            flex-direction: row;
            align-items: center;

            & a {
              @include cartLinkTextProps();
              margin-left: 9px;
            }
          }
        }

        &__right {
          width: 240px;
          height: 70px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin-left: 35px;

          &-item {
            width: 70px;
            height: 70px;

          }
        }
      }

      .contacts {
        width: 184px;
        height: 91px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &__time {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          &-item1 {
            @include textProps();
            font-family: 'HeliosCond-Bold';
            font-weight: 700;
            letter-spacing: -0.01em;
          }

          &-item2 {
            @include textProps();
            letter-spacing: -0.025em;
          }
        }

        &__phone {
          padding: 0 0 14px;
          border-bottom: 1px solid #D7D7D7;

          & a {
            font-family: sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 25px;
            line-height: 29px;
            // letter-spacing: -0.028em;
            color: #252525;
            text-decoration: none;
          }

        }

        &__location {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin-top: 4px;

          &-current {
            @include textProps();
            letter-spacing: -0.01em;
          }

          &-change {
            display: flex;
            flex-direction: row;
            align-items: center;

            & a {
              @include textProps();
              text-decoration: dotted;
              margin-left: 4px;
            }
          }
        }
      }
    }
  }

  .search {
    margin-top: 26px;

    &__container {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__box {
      width: 100%;
      min-height: 34px;
      background: #252525;
      border-radius: 10px;

      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &-icon {

        & button {
          height: 100%;
          width: 39px;
          height: 34px;
          border-top-left-radius: 9px;
          border-bottom-left-radius: 9px;
          background: #FFCC00;
          border: 1px solid #FFCC00;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      &-items {
        display: flex;
        flex-direction: row;
      }

      &-item {
        display: flex;
        align-items: center;
        color: #ffffff;

        & a {
          @include cartLinkTextProps();
          font-weight: 600;
          text-decoration: none;
          color: inherit;
          padding: 0 18px;
        }

        &:hover {
          background-color: #FFCC00;
          color: #000000;
          transition: .4s ease;
        }


      }

      .active {
        background-color: #FFCC00;
        color: #000000;
      }

      &-salesBtn {
        background-color: #FFCC00;
        border-top-right-radius: 9px;
        border-bottom-right-radius: 9px;
        width: 127px;
        height: 34px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 42px;

        & a {
          @include cartLinkTextProps();
          font-style: 'Roboto';
          font-weight: bold;
          color: #000000;
          text-decoration: none;
          ;
        }
      }
    }
  }
}

@media (max-width: 1140px) {
  .header {

    &__content {

      .content__upper {
        max-width: 730px;
        align-items: center;
        flex-direction: column-reverse;
        margin-top: 16px 10px 0 10px;
        border-bottom: none;

        &-login {
          margin-bottom: 10px;

        }
      }

      .content__bottom {
        display: flex;
        flex-wrap: wrap;
        width: 600px;
        max-width: 930px;
        width: none;
        height: 260px;
        justify-content: center;
        flex-direction: row;

        .contacts {
          margin-left: 30px;
        }
      }
    }

    .search {

      &__box {

        &-item {
          display: flex;
          align-items: center;
          color: #ffffff;

          & a {
            padding: 0 5px 0 0;
          }

        }
      }
    }
  }
}

@media (max-width: 900px) {
  .header {

    &__container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__left-side {
      width: 100%;
      ;
    }

    &__logo {
      width: 100%;
    }

    &__content {
      align-items: center;
      flex-direction: column;

      .content__bottom {
        margin: 0 auto;
      }
    }

    .search__box-salesBtn {
      margin: 0 0 0 10px;
    }
  }
}

@media (max-width: 760px) {
  .container {
    width: 100%;
  }

  .header {

    .logo {
      display: flex;
      justify-content: center;
    }

    .search__box {
      min-width: 250px;
      max-width: 50%;
      margin: 0 auto;
      flex-direction: column;
      align-items: center;

      &-icon {

        & button {
          border-radius: 9px;
        }
      }

      &-items {
        flex-direction: column;
      }

      &-item {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5px;
        border-radius: 9px;
      }

      &-salesBtn {
        border-radius: 9px;
      }
    }
  }
}

@media (max-width: 640px) {
  .header__content .content__upper-nav .nav {
    align-items: center;
    flex-direction: column;

    &__item {
      margin: 5px;
    }
  }
}

@media (max-width: 420px) {
  .header__content .content__bottom {
    width: 275px;
    height: 400px;
    max-width: 90%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;

    .banner {
      margin: 10px;
    }

    .cart {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 10px;

      &__right {
        margin: 5px;
      }
    }

    .contacts {
      margin: 10px;
    }
  }
}